### HomeWork #2
### 2019136149 박건우

##### 1. 다음 6 개의 Expression에 대해 Evaluation 결과 값을 출력하고, 해당 결과가 나온 이유에 대해 설명하시오

1 and 2 and 3 and 4   
1 or 2 or 3 or 4   
1 and 2 or 3 and 4   
(1 and 2) or (3 and 4)   
1 or 2 and 3 or 4   
(1 or 2) and (3 or 4)

In [26]:
print (1 and 2 and 3 and 4)

4

and연산의 경우는 앞의것이 참이여도 뒤에것이 참인지 아닌지를 확인해야한다.   
1 and 2 and 3 and 4 의경우는 1이 참인지 아닌지 확인하고, 그다음 2를 확인하고, 3을확인하고, 마지막으로 4를 확인한 후에 4를 출력한 모습이다.

In [13]:
print (1 or 2 or 3 or 4)

1

or연산의 경우 A or B가 있을 때 A가 참이면은 뒤에있는 B를 볼필요가 없다.
위의 표현식의 경우는 앞에있는 1이 참을 의미하므로 뒤에있는 것들을 굳이 체크할 필요가 없으므로 1이 출력된다.

In [21]:
print (1 and 2 or 3 and 4)

2

파이썬의 연산자 우선순위를 살펴보면 and가 or보다 우선순위에 있다.   
따라서 먼저 1 and 2 연산을 수행한다.(2 리턴) 그리고 3 and 4 연산을 수행해서 참이 나온다. (4 리턴)

그다음에는 1 and 2와 3 and 4를 묶어서 or 연산을 수행 해야한다.   
그런데 이 과정에서 (1 and 2)가 참이므로 or 뒷부분을 체크할 필요가 없다. 따라서 2가 나오게된다.

In [24]:
print ((1 and 2) or (3 and 4))

2

3번째 케이스와 같은 이유이다.    
괄호가 붙었지만 어차피 and연산이 or보다 우선순위에 있으므로 결국 연산을 처리하는 순서에는 차이가 없다.   
똑같이 (1 and 2)연산을 수행하고 (3 and 4)연산을 수행한다.   
그리고 이 두 연산을 or로 묶는과정에서 앞에있는 (1 and 2)연산이 참이므로 뒤에있는 (3 and  4)연산을 체크할 필요가 없고 따라서 2가 나온다.

In [25]:
print (1 or 2 and 3 or 4)

1

연산자 우선순위에 의해 2 and 3 연산을 먼저 수행한다 (3리턴)   
and 연산이 모두 끝낫으므로 이제 남은것은 or연산이다.   
그런데 연산이 1 or로 시작하므로 or 뒷부분을 체크할 필요가 없다  
따라서 1이 출력된다.

In [17]:
print ((1 or 2) and (3 or 4))

3

괄호에 충실하게 연산을 수행하면된다.   
먼저 (1 or 2)에서 1이 리턴되고,  (3 or 4)에서 3이 리턴된다.   
and연산은 앞의값이 참이더라도 뒤에값을 체크해야하므로 3을 출력한다.

##### 2. 경로에 해당하는 문자열 1개를 입력 받아 그 안에 디렉토리 경로명과 파일명을 분리하여 리스트로 반환하는 함수 div_path(s)를 작성하시오.

* 인자로 전달하는 문자열은 경로만 들어간다고 가정한다.
* 각 디렉토리와 파일을 구분하는 문자는 '/'로 가정한다.
* 반환하는 리스트의 첫번째 원소는 디렉토리이고 두번째 원소는 파일명이다.
* 다음과 같은 실행 및 출력 결과가 도출되어야 한다.
    * div_path('/usr/local/bin/python')
        * ['/usr/local/bin', 'python']
    * div_path('/home/chulsoo/test.txt')
        * ['/home/chulsoo', 'test.txt']
* [참고] 리스트(l) 내에 새로운 정수값 (예를 들어 10)을 넣는 방법은 l.append(10) 이다.

In [66]:
def div_path(s) :
    result = []
    idx = 0;     ## 마지막에 나오는 /의 인덱스를 저장하는 변수 
    for i in range(len(s)):
        if (s[i] == '/'):
            idx = i
    
    result.append(s[0:idx])
    result.append(s[idx+1:len(s)])
    return result

In [67]:
div_path('/usr/local/bin/python')

['/usr/local/bin', 'python']

In [68]:
div_path('/home/chulsoo/test.txt')

['/home/chulsoo', 'test.txt']

##### 3. 경로에 해당하는 문자열 1개를 입력 받아 그 안에 디렉토리 경로명과 파일명을 분리하여 리스트로 반환하는 함수 div_path(s)를 작성하시오.
* 집합 자료형 set은 사용하지 않는다.
* 인자로 전달하는 리스트 2 개에는 정수값만 들어간다고 가정하자.
* 함수 내에서 새로운 리스트를 만들어 그 리스트 내에 인자로 받은 두 리스트의 모든 원소를 넣어 반환한다.
* 반환하는 리스트에는 절대로 중복된 원소가 들어 있으면 안된다 (집합의 조건).
* 반환하는 리스트는 정렬이 되어 있어야 한다.
* 다음과 같은 실행 및 출력 결과가 도출되어야 한다.
    * list_union([1, 2, 3], [1, 2, 4])
        * [1, 2, 3, 4]
    * list_union([-10, -5, 0, -1], [100, 9, 0, 9])
        * [-10, -5, -1, 0, 9, 100]
    * list_union([0, 1, 2], [0, 1, 2])
        * [0, 1, 2]
* [참고] 리스트(l) 내에 새로운 정수값 (예를 들어 10)을 넣는 방법은 l.append(10) 이다.
* [참고] 임의의 정수값 (x)이 리스트 (l) 내에 존재하는지 판단하는 방법은 x in l 이다.

In [79]:
def list_union(lista, listb) :
    result = []
    
    for i in range (len(lista)):   ## 먼저 lista의 원소를 result리스트에 넣자.
        result.append(lista[i])
    
    for i in range (len(listb)):   ## listb의 원소가 이미 result리스트에 있으면 그 원소는 넣지않는다. 그 외의 케이스만 원소를 넣는다.
        if (listb[i] in result):
            continue
        else :
            result.append(listb[i])
    
    result.sort()   ##정렬    
    return result

In [82]:
list_union([1, 2, 3], [1, 2, 4])

[1, 2, 3, 4]

In [83]:
list_union([-10, -5, 0, -1], [100, 9, 0, 9])

[-10, -5, -1, 0, 9, 100]

In [84]:
list_union([0, 1, 2], [0, 1, 2])

[0, 1, 2]

##### 4. 두 개의 리스트를 인자로 받아서 그 두 개의 리스트에 대한 '교집합'을 반환하는 함수 list_intersection(lista, listb)와 '차집합'을 반환하는 함수 list_difference(lista, listb)를 작성하시오.

* 모든 가정과 조건은 3번 문제와 동일하다.

In [87]:
def list_intersection(lista, listb) :
    result = []
    
    for i in range (len(lista)):   ## 먼저 똑같이 lista의 원소를 result리스트에 넣자.
        result.append(lista[i])
        
    for i in range (len(listb)):   ## listb의 원소가 이미 result리스트에 있으면 그 원소를 삭제한다.
        if (listb[i] in result):
            result.remove(listb[i])
    
    
    result.sort()   ## 정렬
    return result

In [88]:
list_intersection([1, 2, 3], [1, 2, 4])

[3]

In [89]:
list_intersection([-10, -5, 0, -1], [100, 9, 0, 9])

[-10, -5, -1]

In [90]:
list_intersection([0, 1, 2], [0, 1, 2])

[]

##### 5. 두 개의 양의 정수를 인자로 받아서 해당 범위안에 있는 소수(prime number)의 리스트를 출력하는 함수 print_primenumber(a, b)를 작성하시오.
* 이미 구현된 모듈이나 라이브러리는 사용하지 않는다.
* 함수의 반환(return)은 없으며 함수 내의 끝에서 .format()을 사용하여 다음과 같이 출력한다.
    * print_primenumber(2, 10)
        * 2 이상 10 이하 정수 중 소수 리스트: [2, 3, 5, 7]

In [183]:
def print_primenumber(a,b) :
    judge = 0
    prime_list = []


    if a < b :
        for i in range (a, b+1) :   
            for j in range (2, i) :
                if (i % j == 0) :
                    judge += 1
                    break;

            if judge == 0 :   ## judge가 0 이면 소수이다.
                prime_list.append(i)

            judge = 0

    else:
        for i in range (b, a+1) :   
            for j in range (2, i) :
                if (i % j == 0) :
                    judge += 1
                    break;

            if judge == 0 :   ## judge가 0 이면 소수이다.
                prime_list.append(i)

            judge = 0

    
    
    output_str = '{}이상 {}이하 정수중 소수리스트: {}'
    print(output_str.format(a,b,prime_list))

In [184]:
print_primenumber(14, 9)

14이상 9이하 정수중 소수리스트: [11, 13]

In [185]:
print_primenumber(11, 35)

11이상 35이하 정수중 소수리스트: [11, 13, 17, 19, 23, 29, 31]

In [186]:
print_primenumber(17, 17)

17이상 17이하 정수중 소수리스트: [17]

소수의 정의에 충실해서 해결하면 된다.    
소수는 2부터 자기자신 -1까지를 나눴을 때 나누어 떨어지지 않는 수이다.
이 내용을 for문을 이용해서 코딩하면 된다.    
judge 변수를 0으로 초기화 한 후 나누어떨어질 때는 judge +=1을 넣어서 소수가 아닐때를 특정하고
마지막에 judge가 0인 케이스만 따로 떼어내면 된다

### [Incremental Project 문제]¶

웹 URL로 지정된 웹페이지를 문자열로 가져와 1) 모든 HTML 태그를 제외한 순수 텍스트 문자열만을 걸러내고, 2) 그 순수 텍스트 문자열 안에 존재하는 단어가 총 몇개인지 출력하는 프로그램을 작성하시오.

In [391]:
import requests
req1 = requests.get('https://www.daum.net/')
source1 = req.text
req2 = requests.get('https://www.google.com/')
source2 = req.text

In [412]:
judge = 0  # 한 문자가 html 태그 안에있는지 판단하는 변수
result = ''

## HTML태그를 뺀 문자열을 드는 함수 생성
def remove_HTML (source) :
    judge = 0   # 한 문자가 html 태그 안에있는지 판단하는 변수
    result =''
    for i in range (len(source)) :  

        if source[i] == '<':
            judge += 1

        if source[i] == '>':
            judge = 0

        if judge != 0:
            continue

        if judge == 0 and source[i] != '>':
            result += source[i]
        
    
    return result

## 문자열의 단어를 세는 함수 생성
def word_count (str) :
    count = 0 ## 단어의 갯수를 세는 변수
    judge = 0
    for i in range (len(str)):       
        if str[i] == ' ' :
            count +=1
        
    return count+1

In [413]:
ex1 = remove_HTML('<label for="keep_signed">로그인 유지</label>')

In [414]:
print(ex1)

로그인 유지

In [415]:
word_count(ex1)

2

In [416]:
ex2 = remove_HTML('<a href="#panel-3" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-3"><strong>교육역량강화사업 온라인 컨텐츠</strong><br>')

In [419]:
print(ex2)
print (word_count(ex2))

교육역량강화사업 온라인 컨텐츠
3

과제 좀 미리미리할걸 .. 후회한다. 다음번엔 꼭 텀을 남겨두고 해야겠다.
제대로 마무리짓지 못해서 아쉽다.